<p>Location </p><br>
City <%= @coworkingspace.city %><br>
Address <%= @coworkingspace.address %><br>
Area in m² <%= @coworkingspace.area %><br>
Description: <%= @coworkingspace.description %><br>
Price: <%= @coworkingspace.price %><br>
How many persons: <%= @coworkingspace.peopleNumber %><br>
Do you have:<br>
Kitchen  <%= check_box_tag 'Kitchen', 'accepted', @coworkingspace.hasMeetroom, disabled: true %><br>
Meetroom  <%= check_box_tag 'Meetroom', 'accepted', @coworkingspace.hasMeetroom, disabled: true %><br>
free WiFi  <%= check_box_tag 'wifi', 'accepted', @coworkingspace.hasMeetroom, disabled: true %><br>
free coffee, tea, and cookies? <%= check_box_tag "Cookies", 'accepted', @coworkingspace.hasFreeCookies, disabled: true %><br>
Photo: <%= image_tag(@coworkingspace.image_url, size: "100x100")%></p><br>
<% @coworkingspace.suggestionspaces.each do |suggestion| %><br>
<p>Begin date <%= suggestion.beginDate %><br>
Finish date <%= suggestion.finishDate %></p><br><hr>
 <% end %>
 <% if current_user.id == @coworkingspace.user_id %>
<%= link_to "Add available date", new_suggestionspace_path(coworkingspace_id: @coworkingspace.id)%><br>
<% else %>
<%= link_to "Order", new_orderspace_path(coworkingspace_id: @coworkingspace.id)%>
<% end %>